dist/
.astro/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
movie/.env
movie/*.log
__pycache__/
*.pyc

.DS_Store
.idea/
.vscode/

*.WordPress*.xml
WordPress*.xml
